<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.neutec.customgestureview">

    <permission android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:ignore="ReservedSystemPermission" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl">
        <activity
            android:name="com.neutec.customgestureview.activity.CustomGestureActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi" />


    </application>
</manifest>